__pycache__/
*.py[cod]
*$py.class

*.sqlite3
*.log
db.sqlite3
media/
staticfiles/

venv/
env/
.env

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

node_modules/

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db